/*Header*/
header{
    background-color: #2C3F50;
    color: white;
    width: 100%;
    min-height: 70px;
  
  

}

/*Main*/
.img-size{
    width: 50%;
    cursor: pointer;
}

.img-size:hover{
    width: 60%;
    filter: grayscale(50%);
}
.img-container {
    position: relative;
}

.icon{
    font-size:xx-large;
    display: none;
    
 }

.img-container:hover .icon {
    display: block;
}

.img-container:hover img {
    opacity: 0.5;
    cursor: pointer;
}




/*Footer*/
.icone{
    border-radius: 50%;
    color: #3B546D;
    background-color: white;
    font-size: 1.5rem;
  
 
}

/*style colors*/
.b-turquoise{
    background-color: #1ABC9D;
    border-color: #1ABC9D;
}
.b-steel-blue{
    background-color: #3B546D;
}
.btnBorder{
    border-color: white;
    background-color: #1ABC9D;

}

.c-white{
    color: white;
}

.turquoise{
    color: #23AE96;
}
.b-navy-blue{
    background-color: #2C3F50;
    color: white;
   
}

.b-white{
    background-color: white;
    border-color: white;
}

