header{
    background-color: #2C3F50;
    color: white;
}

.img-size{
    width: 50%;
}

.b-turquoise{
    background-color: #1ABC9D;
}
.b-steel-blue{
    background-color: #3B546D;
}

.c-white{
    color: white;
}

.turquoise{
    color: #23AE96;
}
.b-navy-blue{
    background-color: #2C3F50;
}





